body {
  margin: 0px;
}

header,
footer {
  background-color: black;
  color:yellow;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
   */
  margin: 10px;
}

li {
  list-style: square;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; /* or 100% */
}